 .u-section-1 {
  background-image: url("images/fondo-8.jpg");
  background-position: 50% 50%;
  min-height: 1201px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 48px auto 0 calc(((100% - 1140px) / 2) + 34px);
  padding: 0 10px 0 9px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-family: Amita;
  margin: -30px auto 0 calc(((100% - 1140px) / 2) + 123px);
}

.u-section-1 .u-list-1 {
  width: calc(((100% - 1140px) / 2) + 1090px);
  margin: 352px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  min-height: 600px;
  margin: -142px auto 0;
}

.u-section-1 .u-image-1 {
  min-height: 610px;
  background-image: url("images/casita.PNG");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 338px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-image-2 {
  width: 387px;
  height: 315px;
  margin: 0 auto;
}

.u-section-1 .u-image-3 {
  min-height: 292px;
  background-image: url("images/solecito.PNG");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  min-height: 292px;
  background-image: url("images/edificio.PNG");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  border-style: solid;
  font-family: "Annie Use Your Telescope";
  background-image: linear-gradient(to right, #adf6f2, #b276ad);
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 59px auto 60px calc(((100% - 1140px) / 2) + 112px);
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.4584em;
  margin-left: 15px;
  vertical-align: -2px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 880px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 123px);
  }

  .u-section-1 .u-list-1 {
    width: calc(((100% - 940px) / 2) + 1090px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    min-height: 332px;
  }

  .u-section-1 .u-image-1 {
    min-height: 503px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 279px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-3 {
    min-height: 241px;
  }

  .u-section-1 .u-image-4 {
    min-height: 241px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1927px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 123px);
  }

  .u-section-1 .u-list-1 {
    width: calc(((100% - 720px) / 2) + 1090px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    min-height: 1004px;
  }

  .u-section-1 .u-image-1 {
    min-height: 771px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 427px;
  }

  .u-section-1 .u-image-3 {
    min-height: 369px;
  }

  .u-section-1 .u-image-4 {
    min-height: 369px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2366px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 123px);
  }

  .u-section-1 .u-list-1 {
    width: calc(((100% - 540px) / 2) + 1090px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    min-height: 1074px;
  }

  .u-section-1 .u-image-1 {
    min-height: 578px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 320px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 554px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    min-height: 554px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 172px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1623px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 77px);
  }

  .u-section-1 .u-list-1 {
    width: calc(((100% - 340px) / 2) + 1090px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    min-height: 331px;
  }

  .u-section-1 .u-image-1 {
    min-height: 364px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 201px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 260px;
  }

  .u-section-1 .u-image-3 {
    min-height: 349px;
  }

  .u-section-1 .u-image-4 {
    min-height: 349px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 159px;
    margin-left: calc(((100% - 340px) / 2));
  }
}